<h1>ASK</h1>
<br>
<form class="d-flex m-2" action="/answer" method="get">
  <input class="form-control" type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-warning">
</form>
<br>
<%= link_to 'BACK HOME', root_path %>
